<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NCPEntities" connectionString="metadata=res://*/NCPModel.csdl|res://*/NCPModel.ssdl|res://*/NCPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-8R0VE7P\SQLEXPRESS;Initial Catalog=NCP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
